---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: false
---

{% include base_path %}

{% for post in site.teaching reversed %}
<div class="page__col-wrap">
    <div class="page__lcol"><a href="{{ post.permalink }}"><img src={{post.abstract_art}}></a></div>
    <div class="page__rcol">
        <h2>
            <a href="{{ post.permalink }}">{{ post.title }}</a>
        </h2>
        <div class="journal__box">{{ post.excerpt}}</div>
    </div>
</div>
{% endfor %}
<div class="page__col-wrap">
</div>


<!-- {% for post in site.teaching reversed %}
     {% include archive-single.html %}
     {% endfor %} -->
